<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title><b>Dashboard Beautymarket</b></title>#}
    Выручка онлайн на текущей неделе = {{ currently_online_revenue }}<br>
    Выручка офлайн на на текущей неделе = {{ currently_offline_revenue }}<br>
    <br>
    Скидки онлайн на текущей неделе = {{ currently_online_discount }}<br>
    Скидки офлайн на текущей неделе = {{ currently_offline_discount }}<br>
    <br>
    Выручка онлайн на предыдущей неделе = {{ previous_online_revenue }}<br>
    Выручка офлайн на на предыдущей неделе = {{ previous_offline_revenue }}<br>
    <br>
    Скидки онлайн на предыдущей неделе = {{ previous_online_discount }}<br>
    Скидки офлайн на предыдущей неделе = {{ previous_offline_discount }}<br>
    <br>
    на этой неделе клиентов = {{ currently_all_clients }}<br>
    Новых = {{ currently_new_clients }}<br>
    Вернувшихся = {{ currently_returness_clients }}<br>
    <br>
    на предыдущей неделе клиентов = {{ previous_all_clients }}<br>
    Новых = {{ previous_new_clinets }}<br>
    Вернувшихся = {{ previous_returness_clinets }}<br>

{#    {{ revenue }}#}


</head>
<body>

</body>
</html>